<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="navbar">
  <nav>
    <div class="logo">Road Scholar</div>
    <ul>
      <li><a th:href="@{/}">Home</a></li>
      <li><a th:href="@{/about}">About</a></li>
      <li><a th:href="@{/contact}">Contact</a></li>

      <li th:if="${session.loggedInUser == null}">
        <a th:href="@{/register-role-selection}">Register</a>
      </li>
      <li th:if="${session.loggedInUser == null}">
        <a th:href="@{/login}">Login</a>
      </li>

      <li th:if="${session.loggedInUser != null}">
        <a th:href="@{/logout}">Logout</a>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>