<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Profile</title>
  </head>
  <body>
  <table border="1">
    <tr>
      <th>Full Name</th>
      <td th:text="${admin.firstName + ' ' + admin.lastName}"></td>
    </tr>
    <tr>
      <th>Email</th>
      <td th:text="${admin.email}"></td>
    </tr>
    <tr>
      <th>Role</th>
      <td th:text="${admin.role}"></td>
    </tr>
  </table>
  </body>
</html>