<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verify Payments</title>
  </head>
  <body>
    <div>
      <h2>Unverified Payments</h2>
      <div th:if="${payments.size()==0}">
        <p>No unverified payments.</p>
      </div>
      <div th:each="payment: ${payments}">
        <p th:text="'Student ID: ' +${payment.studentId}"></p>
        <p th:text="'Course ID: ' + ${payment.courseId}"></p>
        <p th:text="'Amount: Rs.' + ${payment.amount}"></p>
        <form th:action="@{/admin/verify-payments}" method="post">
          <input type="hidden" name="paymentId" th:value="${payment.paymentId}" />
          <button type="submit">Verify</button>
        </form>
      </div>
    </div>
  </body>
</html>