<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Select Course</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="course-selection-container">
    <h2>Select a course to enroll</h2>

    <div class="course-list">
        <th:block th:each="course : ${courses}">
            <div class="course-card">
                <h5 th:text="${course.name}"></h5>
                <p th:text="${course.description}"></p>
                <form th:action="@{/student/enroll/course}" method="post">
                    <input type="hidden" name="courseId" th:value="${course.courseId}" />
                    <button type="submit" class="btn-select">Select</button>
                </form>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>
