<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Payment</title>
    </head>
    <body>
        <h2>Pay to enroll</h2>
        <div>
            <p th:text="'Course: '+ ${course.name}"></p>
            <p th:text="'Price: Rs.'+ ${course.price}"></p>

            <div>
                <form th:action="@{/student/enroll/payment}" method="post">
                    <p>Payment will be verified by administration</p>
                    <button type="submit">Confirm Payment</button>
                </form>
            </div>
        </div>
    </body>
</html>