<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Instructor Profile</title>
    </head>
    <body>
    <table border="1">
        <tr>
            <th>Full Name</th>
            <td th:text="${instructor.firstName + ' ' + instructor.lastName}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="${instructor.email}"></td>
        </tr>
        <tr>
            <th>Experience (years)</th>
            <td th:text="${instructor.experienceYears}"></td>
        </tr>
    </table>
    </body>
</html>