<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Road Scholar</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>

        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <div class="welcome-container">
            <div class="glass-box">
                <h1>Welcome to Road Scholar!</h1>
                <p>Your journey to safe and confident driving starts here.</p>
            </div>
        </div>

    </body>
</html>